# Dependências
node_modules/

# Build
dist/

# Variáveis de ambiente
.env

# Logs
logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# VSCode
.vscode/*
!.vscode/extensions.json

# Uploads temporários
backend/uploads/

repomix-output.xml