# Dependências
node_modules/

# Build
dist/

# Variáveis de ambiente
.env

# Logs
logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Prisma
backend/prisma/dev.db

# Uploads temporários
uploads/